SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_KEY=SUA_CHAVE_DO_SUPABASE

ZAPI_INSTANCE_ID=SUA_INSTANCE_ID
ZAPI_INSTANCE_TOKEN=SEU_INSTANCE_TOKEN
ZAPI_CLIENT_TOKEN=SEU_CLIENT_TOKEN

MESSAGE_TEMPLATE=Olá, <nome_contato> tudo bem com você?
MAX_CONTACTS=3